.navbar-brand{
    
    width: 100px;
    height: 100px;
}

.navbar-brand img{
    width: 80%;
    height: auto;
}
.c-contact .btn:hover{
    background-color: transparent;
    color: white;

}

.container{
    background-image: url('images/Background.png');

}

.nav-item a{
    color: white;
}

.viewourwork h1,p{
    color: white;

}

.viewourwork a{
    color: black;
    background-color: #FCD980;
    padding: 14px 28px;
    border-radius: 30px;
    text-decoration: none;
}

.viewpricing a{
    color: black;
    background-color: transparent;
    padding: 14px 28px;
    text-decoration: none;
    margin-top: 20px;
}