.navbar-brand{
    
    width: 100px;
    height: 100px;
    padding-top: 30px;
}

.navbar-brand img{
    width: 100%;
    height: 30%;
    
    
}
.c-contact .btn:hover{
    background-color: transparent;
    color: white;

}

.container{
    background-image: url(../images/Background.png);

}

.nav-item a{
    color: white;
}

.viewourwork h1,p{
    color: white;

}

.viewourwork a{
    color: black;
    background-color: #FCD980;
    padding: 14px 28px;
    border-radius: 30px;
    text-decoration: none;
}

.viewpricing{
    position: relative;
}

.viewpricing a{
    color: black;
    background-color: transparent;
    padding: 14px 28px;
    text-decoration: none;
    margin-top: 20px;
    
}

.viewpricing i{
    width: 100%;
    height: auto;
    color: white;
    position: absolute;
    top: 4px;
    left: 53px;
    transition: .4s ease;
    
}

.viewpricing i:hover{
    
    top: 4px;
    left: 83px;
    
}